{% extends 'family_register/base.html' %}
{% load crispy_forms_tags %}


{% block page_name %}
<h1>welcome to child form page</h1>
{% endblock page_name %}

{% block content %}
<form action="" method="POST" autocomplete="off" id="myForm">
    {% csrf_token %}
    <div class="alert alert-success">
        <h3 class="text-center">{{ heading }}</h3>
    </div>

    <div class="card-body">
        {{ form|crispy }}
    </div>

    <div class="alert alert-danger" role="alert">
        Unable to find your parent? Or, no parents exist in the parents list? <a href="{% url 'parent_form_url' %}" class="alert-link">Come Here</a> and create your parents first.
    </div>

    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success alert alert-success"><i class="fa fa-child" aria-hidden="true"></i> Create Child</button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'child_list_url' %}" class="btn btn-warning alert alert-warning"><i class="fa fa-database" aria-hidden="true"></i> To Children list</a>
        </div>
    </div>
 
</form>
{% endblock content %}