{% extends 'family_register/base.html' %}

{% block page_name %}
<h1>welcome to child list page</h1>
{% endblock page_name %}

{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Parent</td>
            <td><a href="{% url 'child_form_url' %}" class="btn btn-success"><i class="fas fa-plus">Add New</i></a></td>
            
        </tr>
    </thead>
    <tbody>
        {% for child in child_list %}
            <tr>
                <td>{{child.first_name}}</td>
                <td>{{child.last_name}}</td>
                <td>{{child.parent}}</td>
                <td>
                    <a href="{% url 'child_edit_url' child.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'child_delete_url' child.id %}" method="POST" class="d-inline"> {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="fa fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
                
        {% endfor %}
    </tbody>
</table>

<p class="lead">
    <a class="btn btn-info btn-lg" href="{% url 'home_url' %}" role="button"><i class="fa fa-home" aria-hidden="true"></i> Back to Home</a>
</p>
{% endblock content %}

